.header{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15rem;
}

.nav{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav section{
    padding: 1rem .7rem;
}

.logo{
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.icon{
    font-size: 2.4rem;
}

.logo h4{
    font-size: 1.2rem;
    font-weight: 600;
}

.logo p{
    font-size: .8rem;
}

.links{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.links h4{
    color: #767777e3;
    font-size: .9rem;
    font-weight: 500;
}

.links a{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #3d3d3d;
    cursor: pointer;
    margin: .5rem 0;
    padding: .5rem;
    text-decoration: none;
}

.links a:hover{
    background: #E2EEFE;
    border-radius: .5rem;
}
